Options -Indexes
RewriteEngine on
RewriteRule ^user/([A-Za-z0-9-]+)/?$ user.php?name=$1	 [NC,L]
RewriteRule ^signin/?$ signin.php	 [NC,L]
RewriteRule ^signup/?$ signup.php	 [NC,L]
RewriteRule ^/?$ index.php	 [NC,L]
RewriteRule ^search/?$ search.php	 [NC,L]
RewriteRule ^settings/?$ settings.php	 [NC,L]
RewriteRule ^profile/?$ profile.php	 [NC,L]
RewriteRule ^logout/?$ logout.php	 [NC,L]
RewriteRule ^easymod/?$ easymod.php	 [NC,L]
RewriteRule ^create/?$ createpost.php	 [NC,L]
RewriteRule ^about/?$ about/about.php	 [NC,L]
RewriteRule ^contact/?$ about/contactus.php	 [NC,L]
RewriteRule ^termsandcondition/?$ about/terms_and_condition.php	 [NC,L]
RewriteRule ^upload/?$ upload.php	 [NC,L]
RewriteRule ^upload_image/?$ upload_image.php	 [NC,L]
RewriteRule ^submit/?$ submit.php	 [NC,L]
RewriteRule ^reset/?$ resetlink.php	 [NC,L]
RewriteRule ^post/?$ post.php	 [NC,L]
RewriteRule ^successful/?$ successful.php	 [NC,L]
RewriteRule ^rpassword/?$ resetpassword.php	 [NC,L]
RewriteRule ^sent/?$ sent.php	 [NC,L]
RewriteRule ^failed/?$ failed.php	 [NC,L]
RewriteRule ^preview/?$ preview_post.php	 [NC,L]
RewriteRule ^msent/?$ messagesent.php	 [NC,L]
RewriteRule ^topcontributors/?$ contribution.php	 [NC,L]